# .gitignore

# Игнорировать директорию виртуального окружения
../venv/

# Игнорировать директорию данных
data/

# Игнорировать директорию с кэшем
__pycache__/

# Игнорировать файлы с расширением .pyc
*.pyc

# Игнорировать файлы с расширением .idea
.idea/

# Игнорировать файлы с расширением .env
.env
